.headerPrimary {
  color: #3c3b37;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0px 10px;
  font-size: 14px;
  letter-spacing: normal;
  box-shadow: 0px 1px 6px rgb(199, 198, 198);
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 25px;
}

.headerPrimary .part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerPrimary .part * {
  margin: 0px 8px;
}

.headerPrimary .mid {
  width: 55%;
  position: relative;
}

.headerPrimary .right .businessDiv,
.headerPrimary .right .teachDiv {
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.headerPrimary .searchBar {
  border-radius: 50px;
  border: 1px #64635e solid;
  font-size: 0.9rem;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  height: 45px;
  width: 100%;
  padding-left: 7%;
}

.headerPrimary .searchIcon {
  height: 20px;
  width: 50px;
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerPrimary .button {
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border: 1px solid;
  height: 36px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.headerPrimary .login {
  background-color: white;
  color: #0f7c90;
  border-color: #0f7c90;
}

.headerPrimary .login:hover {
  color: #054f5c;
  border-color: #054f5c;
}

.headerPrimary .signup {
  background-color: #0f7c90;
  color: white;
  border-color: #0f7c90;
}

.headerPrimary .signup:hover {
  background-color: #054f5c;
  border-color: #054f5c;
}

.headerPrimary .icon {
  color: #73726c;
  cursor: pointer;
}

.headerPrimary .icon:hover {
  color: #0f7c90;
}

.headerPrimary span {
  cursor: pointer;
}

.headerPrimary span:hover {
  color: #0f7c90;
}


.ReactModal__Overlay {
  background-color: rgba(0, 0, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.signup-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94.5%;
  height: 89%;
  display: flex;
  background-color: #054f5c;
  box-sizing: border-box;
}

.signup-popup .contentDiv h1 {
  margin-left: 180px;
  margin-top: 100px;
  font-size: 40px;
  color: white;
}

.signup-popup .contentDiv form .form-row {
  margin-bottom: 15px;
  margin-left: 150px;
}

.signup-popup .contentDiv form .input-group {
  display: flex;
  justify-content: space-between;
}

.signup-popup .contentDiv form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 48%;
  box-sizing: border-box;
}

.signup-popup .contentDiv form button {
  margin-top: 10px;
  margin-left: 300px;
  padding: 10px 20px;
  background-color: #0f7c90;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.signup-popup .contentDiv form input[name="address"] {
  margin: 10px 0;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 99.5%;
  box-sizing: border-box;
}

.signup-popup .contentDiv form button:hover {
  background-color: #054f5c;
}

.signup-popup .contentDiv .instructorImg {
  width: 50%;
  max-width: 100%;
  height: auto;
  margin: 0;
  box-sizing: border-box;
}
.login-popup .instructorImg {
  max-width: 50%;
  height: auto;
  align-self: flex-start;
}

.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94.5%;
  height: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #054f5c;
  box-sizing: border-box;
}

.login-popup .contentDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  padding: 100px;
  margin-left: 60px;
}

.login-popup .instructorImg {
  max-width: 100%;
  height: auto;
  align-self: flex-start;
  margin-right: 70px;
}

.login-popup .contentDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-popup .contentDiv h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-left: -35px;
  color: white;
  font-size: 40px;
}

.login-popup .contentDiv input {
  margin: 10px 0;
  margin-left: -20px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-popup .contentDiv button {
  margin-top: 10px;
  padding: 10px 60px;
  font-size: 15px;
  font-family: 'Nunito Sans', sans-serif;
 font-family: 'Poppins', sans-serif;
  background-color: #0f7c90;
  color: white;

}


.login-popup .contentDiv button:hover {
  background-color: #054f5c;
}


.login-popup .contentDiv .forgot-password-link {
  color: white; 
  margin-top: 10px;
  margin-left: 5px;
  margin: 10px;
  font-size: 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}


.close-button {
  position: absolute;
  top: 10px; 
  right: 10px; 
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}


.close-button:focus {
  outline: none;
}


.forgot-password-popup{

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94.5%; 
  height: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #054f5c;
  box-sizing: border-box;

}

.forgot-password-popup .contentDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 70%;
  padding: 100px;
  margin-left: 100px;
}



.forgot-password-popup .contentDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-popup h1 {
  text-align: left;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-top: 5px;
  color: white;
  font-size: 50px;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.forgot-password-popup input {
  margin: 20px 0;
  padding: 10px 40px; 
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.forgot-password-popup .reset {
  color: white;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.forgot-password-popup .contentDiv button {
  margin-top: 5px;
  margin-left: 210px;
  padding: 7px 30px;
  background-color: #0f7c90;
  color: white;
  border: none;font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}


.forgot-password-popup .contentDiv button:hover {
  background-color: #054f5c;
  
}

.forgot-password-popup .forgotImg {
  max-width: 100%; 
  height: auto; 
  align-self: flex-start;
  margin-right: 10px;
}








