/* Default styles for all screen sizes */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Media query for screens with a maximum width of 768px (e.g., tablets and smaller screens) */
@media (max-width: 768px) {
  .App-header {
    font-size: 16px; /* Adjust the font size for smaller screens */
  }
}

/* Media query for screens with a minimum width of 769px (e.g., larger screens) */
@media (min-width: 769px) {
  .App-header {
    font-size: calc(10px + 2vmin); /* Reset the font size to its original value */
  }
}
